*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
}

:root{
    --green: #2ECC71;
    --dark-green: #145A32;

    --red: #E74C3C;
    --dark-red: #641E16;

    --yellow: #F1C40F;
    --dark-yellow: #7D6608;

    --orange: #F39C12;
    --dark-orange: #6E2C00;
}